* {
text-align: center;
}

html {
  margin: 0px;
  padding: 0px;
  background-color: #99ff99;
}

body {
  background-color: #9999ff;
  margin: 0px 15%;
}

table {
  display: inline-block;
  background-color: #ffffff;
  margin-bottom: 60px;
  empty-cells: show;
}

th, td {
  padding: 5px;
}

th {
  background-color: #99cccc;
}

th:hover, td:hover {
  background-color: #99ffff;
}

td.finalCell:hover {
  background-color: inherit;
}

th.finalCell:hover {
  background-color: #99cccc;
}

ul {
  font-family: verdana;
  display: inline-block;
  max-width: 200px;
  margin: 20px;
  padding: 0px 10px 20px 30px;
  border: 10px solid #99ffff;
}

h1 {
  font-size: 125px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 5px #99ffff;
}

h2 {
  font-family: 'Lobster', cursive;
  margin-right: 10px;
}

img {
  background-color: inherit;
  max-width: 400px;
  padding: 20px;
}

div {
  font-family: helvetica, cursive;
  display: inline-block;
  width: 600px;
  border: 10px solid #99ffff;
  margin: 20px 0px;
}

div:hover, ul:hover {
  background-color: #99ffff;
  box-shadow: 5px 5px #005555;
}

p, li, h2 {
  background-color: inherit;
}

nav {
  margin-bottom: 100px;
}

a {
  color: #000099;
  font-size: 25px;
  font-family: helvetica, cursive;
  font-weight: bold;
  text-decoration: none;
  margin: 0px 10px;
}

a:hover {
  text-decoration: underline;
}

fieldset {
  background-color: #99ff99;
  border: 2px solid #ffffff;
  max-width: 500px;
  display: inline-block;
}

legend {
  background-color: #66cc66;
  border: 1px solid #ffffff;
  display: block;
  font-size: 20px;
  font-weight: bold;
}

label {
  float: left;
  width: 50%;
  text-align: right;
  background-color: inherit;
}

input {
  width: 200px;
  background-color: #ffffff;
  margin-bottom: 5px;
  text-align: left;
}

select {
  width: 200px;
  background-color: #ffffff;
  margin-bottom: 5px;
}

option {
  background-color: #ffffff;
}

fieldset button {
  background-color: #ccffcc;
  border: 3px solid #009900;
  clear: both;
}

fieldset button:hover {
  background-color: #66cc66;
}

button {
  background-color: #ccccff;
  border: 3px solid #000099;
  border-radius: 20px;
  padding: 5px 10px;
  width: 80px;
}

button.editButton {
  margin-right: 5px;
}

button:hover {
  background-color: #6666cc;
  font-weight: bold;
}

em {
  font-size: 12px;
  background-color: inherit;
}

passed {
  color: #00ff00;
}

failed {
  color: #ff0000;
}
